<% @saving_applications.each do |saving_application| %>
    <tr>
    <td><%= get_user(saving_application.user_id).profile.first_name %></td>
    <td><%= get_user(saving_application.user_id).profile.last_name %></td>
    <td><%= get_user(saving_application.user_id).profile.phone %></td>
    <td><%= get_user(saving_application.user_id).profile.country %></td>
    <td><%= get_user(saving_application.user_id).profile.city %></td>
    <td><%= saving_application.entrepreneur %></td>
   
    <td><%= saving_application.desired_amount %></td>
   
    <td><%= saving_application.status %></td>
   
    <td><%= link_to 'Show', saving_application %></td>
    <td><%= link_to 'Edit', edit_saving_application_path(saving_application) %></td>
    <td><%= link_to 'Destroy', saving_application, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
<% end %>