<p id="notice"><%= notice %></p>

<p>
  <strong>Entrepreneur:</strong>
  <%= @saving_application.entrepreneur %>
</p>

<p>
  <strong>Entrepreneurship time:</strong>
  <%= @saving_application.entrepreneurship_time %>
</p>

<p>
  <strong>Activity area:</strong>
  <%= @saving_application.activity_area %>
</p>

<p>
  <strong>Desired amount:</strong>
  <%= @saving_application.desired_amount %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @saving_application.notes %>
</p>

<p>
  <strong>Status:</strong>
  <%= @saving_application.status %>
</p>

<p>
  <strong>User:</strong>
  <%= @saving_application.user %>
</p>

<%= link_to 'Edit', edit_saving_application_path(@saving_application) %> |
<%= link_to 'Back', saving_applications_path %>
