<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @statement_type.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @statement_type.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @statement_type.status %>
</p>

<p>
  <strong>User:</strong>
  <%= @statement_type.user %>
</p>

<%= link_to 'Edit', edit_statement_type_path(@statement_type) %> |
<%= link_to 'Back', statement_types_path %>
