<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @registration_reason.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @registration_reason.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @registration_reason.status %>
</p>

<%= link_to 'Edit', edit_registration_reason_path(@registration_reason) %> |
<%= link_to 'Back', registration_reasons_path %>
