<!DOCTYPE html>
<html>
  <head>
    <title><%= "#{devise_title(controller_name)} - #{APPLICATION_NAME}"%></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<div class="d-flex align-items-center justify-content-center bg-br-primary ">
	    
      <% if controller_name == "sessions" %>
        <div class="login-wrapper wd-300 wd-xs-350 pd-25  mb5 mt5 pd-xs-40 bg-white rounded shadow-base">

        <% else %>
        <div class="login-wrapper wd-300 wd-xs-700 pd-25  mb5 mt5 pd-xs-40 bg-white rounded shadow-base">

      <% end %>

			<%= render :partial => 'layouts/partials/flash_messages', :flash => flash %>
			<%= yield %>
		</div>
	</div>
  </body>
</html>
