<!DOCTYPE html>
<html>
  <head>
    <title><%= "#{APPLICATION_NAME} - #{devise_title(controller_name)}" %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render('layouts/partials/front/header') %>
    <div class="page-wrapper">
      <%= yield %>
    </div>
    <%= render('layouts/partials/front/footer') %>
    
  </body>
</html>
