<% @members.each do |member| %>
    <tr>
    <td><%= member.first_name %></td>
    <td><%= member.last_name %></td>
    <td><%= member.gender %></td>
    <td><%= member.phone %></td>
    <td><%= member.country %></td>
    <td><%= member.city %></td>
<td>
	    <div class="action-buttons">
			<%= link_to raw('<i class="fa fa-pencil" aria-hidden="true"></i>
'),  edit_member_path(member), title: "Modifier", remote: true %>




<%= link_to raw('<i class="fa fa-trash-o" aria-hidden="true"></i>
'), member_delete_path(member), remote: true, title: "Supprimer", class: "delete" %>
</div>
</td>
    
    </tr>
<% end %>