<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @member.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @member.last_name %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @member.gender %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @member.phone %>
</p>

<p>
  <strong>Country:</strong>
  <%= @member.country %>
</p>

<p>
  <strong>City:</strong>
  <%= @member.city %>
</p>

<p>
  <strong>Email:</strong>
  <%= @member.email %>
</p>

<p>
  <strong>Amount paid:</strong>
  <%= @member.amount_paid %>
</p>

<p>
  <strong>Actions number:</strong>
  <%= @member.actions_number %>
</p>

<p>
  <strong>Action percentage:</strong>
  <%= @member.action_percentage %>
</p>

<p>
  <strong>Remaining actions:</strong>
  <%= @member.remaining_actions %>
</p>

<p>
  <strong>Annual yield:</strong>
  <%= @member.annual_yield %>
</p>

<p>
  <strong>Current value:</strong>
  <%= @member.current_value %>
</p>

<p>
  <strong>Annual expected yield:</strong>
  <%= @member.annual_expected_yield %>
</p>

<p>
  <strong>Turnover:</strong>
  <%= @member.turnover %>
</p>

<p>
  <strong>Business commissions:</strong>
  <%= @member.business_commissions %>
</p>

<p>
  <strong>Selling price:</strong>
  <%= @member.selling_price %>
</p>

<p>
  <strong>Status:</strong>
  <%= @member.status %>
</p>

<p>
  <strong>User:</strong>
  <%= @member.user %>
</p>

<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
