<%= form_with(model: credit_application, local: true) do |form| %>
  <% if credit_application.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(credit_application.errors.count, "error") %> prohibited this credit_application from being saved:</h2>

      <ul>
      <% credit_application.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= form.label :entrepreneur, "Entrepreneur?", class: "required" %>
        <%= form.select :entrepreneur, YES_NO, {prompt: "Sélectionner"}, class: "form-control", required: true %>
        
      </div>
    </div>

    <div class="col-md-6">

      <div class="form-group">
        <%= form.label :entrepreneurship_time, "Si Oui, depuis combien de temps?" %>
        <%= form.text_field :entrepreneurship_time, class: "form-control", placeholder: "Ex: 2 ans" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= form.label :activity_area, "Secteur d'activité?" %>
        <%= form.text_field :activity_area, class: "form-control", placeholder: "Ex: Agriculture" %>
      </div>
    </div>

    <div class="col-md-6">

      <div class="form-group">
        <%= form.label :desired_amount, "Montant souhaité" %>
        <%= form.number_field :desired_amount, class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md">
      <div class="form-group">
        <%= form.label :notes, "Commentaires" %>
        <%= form.text_area :notes, class: "form-control", placeholder: "Commentaires" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md">
      <div class="form-group">
        <%= form.check_box :major %>
        <%= form.label :major, "Je déclare avoir plus de 18 ans." %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md">
      <div class="form-group">
        
        * En cliquant sur envoyer, vous déclarez avoir lu et accepté <%= link_to "les conditions générales d'utilisation.", root_path %>
      </div>
    </div>
  </div>

  

  <div class="form-group">
        <%= form.submit "Envoyer", class: "btn btn-primary tx-mont tx-medium tx-11 tx-uppercase pd-y-12 pd-x-25 tx-spacing-1",  "data-loading-text"=>"Loading...", autocomplete: "off" %>

  </div>
<% end %>
