<% @credit_applications.each do |credit_application| %>
    <tr>
    <td><%= get_user(credit_application.user_id).profile.first_name %></td>
    <td><%= get_user(credit_application.user_id).profile.last_name %></td>
    <td><%= get_user(credit_application.user_id).profile.phone %></td>
    <td><%= get_user(credit_application.user_id).profile.country %></td>
    <td><%= get_user(credit_application.user_id).profile.city %></td>
    <td><%= credit_application.entrepreneur %></td>
   
    <td><%= credit_application.desired_amount %></td>
   
    <td><%= credit_application.status %></td>
   
    <td><%= link_to 'Show', credit_application %></td>
    <td><%= link_to 'Edit', edit_credit_application_path(credit_application) %></td>
    <td><%= link_to 'Destroy', credit_application, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
<% end %>